<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/patolog.png') }}">
    <title>TA-800</title>
</head>
<body>
    <header>
        <div id="logo">
            <a href="{{ url_for('home') }}">TA-800</a>
        </div>
        <div id="nav">
            <a href="{{ url_for('arnold') }}">Chat</a>
            <a href="{{ url_for('info') }}">Info</a>
            <a href="https://www.thebridge.tech/">TheBridge</a>
            <a href="{{ url_for('skynet') }}">Skynet</a>
        </div>
    </header>
    <main>
        <div class="center">
            <img src="{{ url_for('static', filename='img/pixel.jpg') }}" alt="Imagen Principal">
            <h1>Hola alumno/a soy Arnold(TA-800)</h1>
            <p>¿En qué puedo ayudarte?</p>
            <a href="{{ url_for('arnold') }}" class="chat-button">CHAT</a>
        </div>
    </main>
    <footer>
        <p class="footer-text">TA-800 is currently in beta phase JRVX/Skynet®</p>
    </footer>
</body>
</html>